{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock title %}

{% block content %}
    <div class="container card text-dark bg-light border-dark py-5 my-5">
        <h1>Cerrar sesion</h1>
        <p>Seguro queres cerrar sesion?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger" type="submit">Cerrar sesion</button>
        </form>
    </div>
{% endblock content %}