{% extends '_base.html' %}

{% block title %}All Movies{% endblock title %}

{% block content %}
    <section>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="card text-white bg-dark my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Peliculas</p></div>
            </div>
            <form class="form-inline mt-2 mt-md-0 mb-5" action="{% url 'search_movie_results' %}"method="get">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
            </form>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              {% for movie in movie_list %}
              <div class="col mb-5">
                  <div class="card h-60">
                    <a href="{{ movie.get_absolute_url }}">
                      <img src="{{ movie.picture.url }}" class="card-img-top" alt="imagen-pelicula" >
                    </a>
                      <div class="card-footer text-muted">
                          <h5 class="card-title">{{ movie.title }} ({{ movie.score }})</h5>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </section>
{% endblock content %}