{% extends '_base.html' %}

{% block title %}All Actors{% endblock title %}

{% block content %}
    {% comment %} {% for actor in actor_list %}
        <div>
            <h2><a href="{{ actor.get_absolute_url }}">{{ actor.first_name }} {{ actor.last_name }}</a></h2>
        </div>
    {% endfor %} {% endcomment %}

    <section>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="card text-white bg-dark my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Actores</p></div>
            </div>
            <form class="form-inline mt-2 mt-md-0 mb-5" action="{% url 'search_actor_results' %}"method="get">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
            </form>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              {% for actor in actor_list %}
              <div class="col mb-5">
                  <div class="card h-60">
                    <a href="{{ actor.get_absolute_url }}">
                      <img src="{{ actor.picture.url }}" class="card-img-top" alt="imagen-pelicula" >
                    </a>
                      <div class="card-footer text-muted">
                          <h5 class="card-title">{{ actor.first_name }} {{ actor.last_name }}</h5>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </section>
{% endblock content %}