{% extends '_base.html' %}

{% block title %}Best ranked movies{% endblock title %}

{% block content %}
  <header class="py-5 bg-dark">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder text-white">Movie Review App</h1>
            <p class="lead fw-normal text-white-50 mb-0">Rank your favorite movies</p>
        </div>
    </div>
  </header>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {% for movie in best12movies %}
          <div class="col mb-5">
              <div class="card h-60">
                <a href="{{ movie.get_absolute_url }}">
                  <img src="{{ movie.picture.url }}" class="card-img-top" alt="imagen-pelicula" >
                </a>
                  <div class="card-footer text-muted">
                      <h5 class="card-title">{{ movie.title }} ({{ movie.score }})</h5>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </section>
{% endblock content %}